<div *ngIf="loading" class="absolute top-0 bottom-0 left-0 right-0 z-10 flex items-center justify-center">
  <img src="assets/loading.svg" alt="loading...">
</div>

<main *ngIf="!loading" class="w-full h-full py-3 px-6">
  <div class="h-[8%]">
    <h2 class="text-3xl cursor-pointer" (click)="getWeather();">
      {{weatherData.location.name}}
      <span class="text-lg opacity-75">{{weatherData.location.region}}, {{weatherData.location.country}}</span>
    </h2>
  </div>
  
  <div class="h-[92%] grid grid-cols-2 grid-rows-2 gap-2">
    <section class="flex items-center"> <!-- current -->
      <div class="basis-1/2">
        <img src="assets/weather-icons/{{weatherData.current.is_day == 1 ? 'day' : 'night'}}/{{weatherData.current.condition.code}}.svg" alt="{{weatherData.current.condition.text}}" class="w-full">
      </div>
      
      <div *ngIf="unit != 'f'" class="basis-1/2">
        <div>
          {{weatherData.current.condition.text}}
        </div>
        <div class="text-4xl my-2">
          {{weatherData.current.temp_c}}ºC
          <span (click)="changeUnits('f');" class="text-base cursor-pointer hover:font-bold">
            {{weatherData.current.temp_f}}ºF
          </span>
        </div>
        <div class="opacity-75">
          {{ 'home.feel' | translate }} {{weatherData.current.feelslike_c}}ºC
        </div>
        <div class="text-sm opacity-50 hover:opacity-70 duration-500">
          <div>{{ 'home.humidity' | translate }} {{weatherData.current.humidity}} %</div>
          <div>{{ 'home.visibility' | translate }} {{weatherData.current.vis_km}} km</div>
          <div>{{ 'home.wind_dir' | translate }} {{weatherData.current.wind_dir}} {{20}}º</div>
          <div>{{ 'home.wind_speed' | translate }} {{weatherData.current.wind_kph}} km/h</div>
        </div>
      </div>

      <div *ngIf="unit == 'f'" class="basis-1/2">
        <div>
          {{weatherData.current.condition.text}}
        </div>
        <div class="text-4xl my-2">
          {{weatherData.current.temp_f}}ºF
          <span (click)="changeUnits('c');" class="text-base cursor-pointer hover:font-bold">
            {{weatherData.current.temp_c}}ºC
          </span>
        </div>
        <div class="opacity-75">
          {{ 'home.feel' | translate }} {{weatherData.current.feelslike_f}}ºF
        </div>
        <div class="text-sm opacity-50 hover:opacity-70 duration-500">
          <div>{{ 'home.humidity' | translate }} {{weatherData.current.humidity}} %</div>
          <div>{{ 'home.visibility' | translate }} {{weatherData.current.vis_miles}} miles</div>
          <div>{{ 'home.wind_dir' | translate }} {{weatherData.current.wind_dir}} {{20}}º</div>
          <div>{{ 'home.wind_speed' | translate }} {{weatherData.current.wind_mph}} m/h</div>
        </div>
      </div>
    </section>

    <section class="py-2 flex flex-row justify-center items-center"><!-- dias -->
      <div *ngFor="let forecastday of weatherData.forecast.forecastday; index as i" class="basis-1/4">
        <div class="h-14 flex flex-col justify-end">
          <span class="text-center">
            <span *ngIf="i==0">{{ 'home.today' | translate }}</span>
            <span *ngIf="i==1">{{ 'home.tomorrow' | translate }}</span>
            <span *ngIf="i==2">{{forecastday.date.slice(5)}}</span>
          </span>
          <span *ngIf="i<2" class="text-center opacity-50">{{forecastday.date.slice(5)}}</span>
        </div>
        
        <div class="w-full h-20 flex items-center mb-2">
          <img src="assets/weather-icons/day/{{forecastday.day.condition.code}}.svg" alt="{{forecastday.day.condition.text}}" class="w-5/6 mx-auto">
        </div>
        
        <div *ngIf="unit != 'f'" class="text-sm text-center">
          <span class="">{{forecastday.day.maxtemp_c}}º</span> - <span class="opacity-60">{{forecastday.day.mintemp_c}}º</span>
        </div>
        <div *ngIf="unit == 'f'" class="text-sm text-center">
          <span class="">{{forecastday.day.maxtemp_f}}º</span> - <span class="opacity-60">{{forecastday.day.mintemp_f}}º</span>
        </div>
      </div>
    </section>

    <section class="col-span-2 flex flex-row items-center justify-center"><!-- horas y astro -->
      <article class="text-xs basis-1/4"><!-- astro -->
        <div class="flex gap-1">
          <div class="flex items-center">
            <img src="assets/astro/sunrise.svg" alt="Sunrise" class="w-12">
            <span class="pr-1">{{weatherData.forecast.forecastday[0].astro.sunrise}}</span>
          </div>
          <div class="flex items-center">
            <img src="assets/astro/sunset.svg" alt="Sunset" class="w-12">
            <span class="pr-1">{{weatherData.forecast.forecastday[0].astro.sunset}}</span>
          </div>
        </div>
        <div class="flex gap-1">
          <div class="flex items-center">
            <img src="assets/astro/moonrise.svg" alt="Moonrise" class="w-12">
            <span class="pr-1">{{weatherData.forecast.forecastday[0].astro.moonrise}}</span>
          </div>
          <div class="flex items-center">
            <img src="assets/astro/moonset.svg" alt="Moonset" class="w-12">
            <span class="pr-1">{{weatherData.forecast.forecastday[0].astro.moonset}}</span>
          </div>
        </div>
      </article>
      
      <article class="relative basis-3/4 flex flex-row gap-3 bg-blue-200/70 rounded-lg px-4 text-center text-sm"><!-- horas -->
        <div class="absolute top-0 left-2 -translate-y-[100%] bg-blue-200/70 rounded-t-lg pt-1 pl-4 pr-4">
          {{ 'home.hours' | translate }}
        </div>

        <div *ngFor="let hr of prox12hrs; index as i" class="leading-none basis-full py-4"
          [ngClass]="i==0 || i==1 ? i == 1 ? 'bg-white/20' : 'opacity-50' : ''">
          <div class="pt-1">
            <div *ngIf="unit != 'f'">{{hr.temp_c.toString().split(".")[0]}}º</div>
            <div *ngIf="unit == 'f'">{{hr.temp_f.toString().split(".")[0]}}º</div>
          </div>

          <div class="h-8 flex items-center justify-center mb-1">
            <div *ngIf="hr.will_it_rain == 0 && hr.will_it_snow == 0" class="w-3 h-[3px] bg-black/20"> </div>

            <img *ngIf="hr.will_it_rain == 1" src="assets/weather-icons/caract/raindrop.svg" alt="rain" class="w-1/2">
            <img *ngIf="hr.will_it_snow == 1" src="assets/weather-icons/caract/snowflake.svg" alt="snow" class="w-1/2">
          </div>

          <div class="inline-block">{{hr.time.split(" ")[1].split(":")[0]}} 
            <span class="text-[10px] opacity-50">hs</span>
          </div>
        </div>
      </article>
    </section>
  </div>
</main>