<div *ngIf="loading" class="absolute top-0 bottom-0 left-0 right-0 z-10 flex items-center justify-center">
  <img src="assets/loading.svg" alt="loading...">
</div>

<main *ngIf="!loading" class="w-full h-full p-3">
  <div class="h-[8%]">
    <h2 class="text-3xl cursor-pointer" (click)="getLocation();">
      {{weatherData.location.name}}
      <span class="text-lg opacity-75">{{weatherData.location.region}}, {{weatherData.location.country}}</span>
    </h2>
  </div>
  
  <div class="h-[92%] grid grid-cols-2 grid-rows-2 gap-2">
    <article class="flex items-center"> <!-- current -->
      <div class="basis-1/2">
        <img src="assets/weather-icons/{{weatherData.current.is_day == 1 ? 'day' : 'night'}}/{{weatherData.current.condition.code}}.svg" alt="{{weatherData.current.condition.text}}" class="w-full">
      </div>
      <div *ngIf="unit != 'f'" class="basis-1/2">
        <div>
          {{weatherData.current.condition.text}}
        </div>
        <div class="text-4xl my-2">
          {{weatherData.current.temp_c}}ºC
          <span (click)="changeUnits('f');" class="text-base cursor-pointer hover:font-bold">
            {{weatherData.current.temp_f}}ºF
          </span>
        </div>
        <div class="opacity-75">
          Feel's like {{weatherData.current.feelslike_c}}ºC
        </div>
        <div class="text-sm opacity-50 hover:opacity-70 duration-500">
          <div>Humidity {{weatherData.current.humidity}} %</div>
          <div>Visibility {{weatherData.current.vis_km}} km</div>
          <div>Wind direction {{weatherData.current.wind_dir}} {{20}}º</div>
          <div>Wind speed {{weatherData.current.wind_kph}} km/h</div>
        </div>
      </div>

      <div *ngIf="unit == 'f'" class="basis-1/2">
        <div>
          {{weatherData.current.condition.text}}
        </div>
        <div class="text-4xl my-2">
          {{weatherData.current.temp_f}}ºF
          <span (click)="changeUnits('c');" class="text-base cursor-pointer hover:font-bold">
            {{weatherData.current.temp_c}}ºC
          </span>
        </div>
        <div class="opacity-75">
          Feel's like {{weatherData.current.feelslike_f}}ºF
        </div>
        <div class="text-sm opacity-50 hover:opacity-70 duration-500">
          <div>Humidity {{weatherData.current.humidity}} %</div>
          <div>Visibility {{weatherData.current.vis_miles}} miles</div>
          <div>Wind direction {{weatherData.current.wind_dir}} {{20}}º</div>
          <div>Wind speed {{weatherData.current.wind_mph}} m/h</div>
        </div>
      </div>
    </article>

    <article class=""><!-- dias -->

    </article>

    <article class="col-span-2 py-2 flex flex-row justify-center items-center"><!-- hora a hora -->
      <div *ngFor="let forecastday of weatherData.forecast.forecastday; index as i" class="basis-1/5">
        <div class="h-14 flex flex-col justify-end">
          <span class="text-center"> {{i<2 ? i==0 ? "Today": "Tomorrow" : forecastday.date.slice(5)}}</span>
          <span *ngIf="i<2" class="text-center text-black/50">{{forecastday.date.slice(5)}}</span>
        </div>
        
        <div class="w-full h-24 flex items-center mb-2">
          <img src="assets/weather-icons/day/{{forecastday.day.condition.code}}.svg" alt="{{forecastday.day.condition.text}}" class="w-2/3 mx-auto">
        </div>
        
        <div *ngIf="unit != 'f'" class="text-sm text-center text-black">
          <span class="">{{forecastday.day.maxtemp_c}}º</span> - <span class="opacity-60">{{forecastday.day.mintemp_c}}º</span>
        </div>
        <div *ngIf="unit == 'f'" class="text-sm text-center text-black">
          <span class="">{{forecastday.day.maxtemp_f}}º</span> - <span class="opacity-60">{{forecastday.day.mintemp_f}}º</span>
        </div>
      </div>
    </article>
  </div>

  <div class="">

  </div>
</main>