<header class="w-full h-12 px-6 flex flex-row items-center justify-between border-b">
  <a routerLink="/home" class="flex items-center gap-2">
    <span class="material-symbols-rounded">partly_cloudy_day</span>
    <h1 class="">Weather App</h1>
  </a>
  <div class="">
    <button type="button" (click)="changeLang('es');" class="w-24 text-center p-3 opacity-75 hover:bg-white/40"
      [ngClass]="lang=='es' ? 'bg-white/20' : ''" >
      Español
    </button>
    <button type="button" (click)="changeLang('en');" class="w-24 text-center p-3 opacity-75 hover:bg-white/40"
      [ngClass]="lang=='en' ? 'bg-white/20' : ''" >
      English
    </button>
  </div>
</header>